{
    margin: 0;
    padding: 0;
}
0
.cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(#340c68)

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    width: 100;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #340c68;
}

main{
    flex: 1;
}
.cabecalho-link{
    color: rgb(17, 4, 63);
    text-decoration: solid;
}
h1{
    color: rgb(184, 138, 54);
}

footer{

background-color: blueviolet;
 padding: 15px 25px;
}